body{
  margin: 0;
}
div{

    padding: 20px 20px 20px 20px;
    border: 1px solid;
    background-color: rgb(178, 218, 240);
    margin: 20px ;
}
button{
    width: 100px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }
  p{
    color: rgb(226, 43, 43);
  }